<article class="bookmark-teaser">
  <h3 class="bookmark-title"><%= link_to bookmark.title, bookmark %></h3>
  <div class="bookmark-url">
    <%= link_to bookmark.url, bookmark.url, target: '_blank' %>
  </div>
  <div class="bookmark-meta">
    Posted by <%= bookmark.user %>
    <%= time_ago_in_words(bookmark.created_at) %> ago
  </div>
</article>
