<div class="col-md-3 col-lg-2 categories-list" id="js-categories-list">

</div>
<div class="col-md-9 col-lg-8 resources-list" id="js-resources-list">
  {{welcomeMessage}}
</div>
<div class="col-md-12 col-lg-2 browser-controls" id="js-browser-controls">
</div>
