<div class="row">
  <div class="col-md-2 categories-list" id="js-categories-list">

  </div>
  <div class="col-md-8 resources-list" id="js-resources-list">

  </div>
  <div class="col-md-2 browser-controls" id="js-browser-controls">

  </div>
</div>
