{{#if parentCategory.id}}
  <li>
    <a href="/categories/{{parentCategory.parent_friendly_id}}" class="category-link">
      ..
    </a>
  </li>
{{/if}}
{{#each items}}
  <li>
    <a href="/categories/{{friendly_id}}" class="category-link" data-id="{{id}}">
      {{name}}
    </a>
  </li>
{{/each}}
