<% provide(:page_title, 'Sign In') %>
<h1>Sign In</h1>

<%= bootstrap_form_for(:session, url: sessions_path) do |f| %>
  <%= f.field :email_field, :email %>

  <%= f.field :password_field, :password %>

  <%= f.submit 'Sign in' %>
<% end %>
