<div class="alert alert-info">
  <p>
    Welcome to Heapsort! The aim of this project is to be a place for web
    developers and other programmers to find, share, and rate resources.
  </p>
  <p>
    As you can see, it's still under construction. For an idea of what's in
    store, check out the <a href="https://github.com/whastings/web_dev_bookmarks/tree/master/docs/design">
    design plan</a>. Please check back frequently to see when Heapsort is open
    for business. Until then, please enjoy these fake links courtesy of the
    <a href="https://github.com/stympy/faker/">Faker gem</a>.
  </p>
</div>
