<div class="form-group">
  <h2><label for="js-comment-content">Add a Comment</label></h2>
  <textarea id="js-comment-content"></textarea>
</div>

<input type="submit" value="Add" class="btn btn-primary">
