<article class="resource-teaser">
  <h3 class="resource-title"><%= link_to resource.title, resource %></h3>
  <div class="resource-url">
    <%= link_to resource.url, resource.url, target: '_blank' %>
  </div>
  <div class="resource-meta">
    Posted by <%= resource.user %>
    <%= time_ago_in_words(resource.created_at) %> ago
  </div>
</article>
