<div class="col-md-2 col-lg-1" id="js-control-bar">

</div>
<div class="col-md-10 col-lg-11 favorites-list content-main">
  <h1>Your Favorites</h1>
  <div class="alert alert-info alert-hidden">
    You don't have any favorite resources. Click the star icon next
    to any resource to add it to your favorites.
  </div>
  <div id="js-favorites-list"></div>
</div>
