<div class="col-md-1" id="js-control-bar">

</div>
<div class="col-md-9 resource-feed content-main">
  <h1>Your Feed</h1>
  <div id="js-resource-feed"></div>
</div>
<div class="col-md-2 feed-control-bar" id="js-feed-control-bar"></div>
