<div class="col-md-2 col-lg-1" id="js-control-bar">

</div>
<div class="col-md-8 col-lg-9 resource-feed content-main">
  <h1>Your Feed</h1>
  <div class="alert alert-info alert-hidden">
    You're not subscribed to anything. To subscribe to a category,
    go back and drag-and-drop it to the sidebar.
  </div>
  <div id="js-resource-feed"></div>
</div>
<div class="col-md-2 feed-control-bar" id="js-feed-control-bar"></div>
