<div class="col-md-2 col-lg-1" id="js-control-bar">

</div>
<div class="col-md-10 col-lg-11 resource-form content-main" id="js-resource-form">
  <h1>Share a Resource</h1>

  <div id="js-resource-form-errors"></div>
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="js-resource-form-title">Title</label>
          <input type="text" id="js-resource-form-title">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="js-resource-form-url">URL</label>
          <input type="text" id="js-resource-form-url">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="js-resource-form-desc">Description</label>
          <textarea id="js-resource-form-desc"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <label for="js-resource-form-type">Type</label>
        <select id="js-resource-form-type"></select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <label>Category</label>
        <div class="category-selector" id="js-category-selector"></div>
      </div>
    </div>
    <input type="submit" value="Share" class="btn btn-primary">
  </form>
</div>
