.category-browser {
  position: relative;
}

.categories-list {
  overflow: hidden;
  @include breakpoint($screen-md) {
    padding-right: 0;
  }
  position: relative;
  li {
    list-style: none;
    overflow-x: hidden;
    width: 100%;
  }
  ul {
    padding: 0;
    width: 100%;
  }
}

.category-link {
  border: 1px #000 solid;
  display: block;
  font-size: 130%;
  font-weight: bold;
  list-style: none;
  margin-bottom: 15px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 25px;
  position: relative;
  &:hover {
    @extend %background-hover;
    text-decoration: none;
  }
  &.ui-draggable-dragging {
    .icon {
      display: none;
    }
  }
  .icon {
    font-size: 120%;
    line-height: 120%;
    position: absolute;
    right: 5px;
  }
}

.child-transitioning-in {
  left: calc(100% + 30px);
  position: absolute;
  top: 0;
}

.parent-transitioning-in {
  left: -100%;
  position: absolute;
  top: 0;
}

.child-transitioning-out,
.parent-transitioning-out {
  position: relative;
}

.resource-page-btn {
  background-color: #fff;
  border: 1px #000 solid;
  color: $brand-primary;
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 0;
  width: 100%;
  &:hover {
    @extend %background-hover;
  }
}

.welcome-message {
  background-color: $brand-info;
  color: #31708f;
}

.loading-graphic {
  background-color: #000;
  filter: alpha(opacity=0);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 3s linear;
  width: 100%;
  z-index: 1040;
  &.show {
    filter: alpha(opacity=40);
    opacity: .4;
  }
}

.spinner {
  left: 50%;
  top: 400px;
}
