.control-bar {
  padding-bottom: 10px;
  padding-top: 10px;
  @include breakpoint($screen-md) {
    padding-top: 20px;
  }
  a {
    margin-right: 40px;
    @include breakpoint($screen-md) {
      display: block;
      margin-right: auto;
    }
  }
}

.nav-links {
  @include breakpoint(658px) {
    display: inline-block;
  }
  @include breakpoint($screen-md) {
    display: block;
    margin-bottom: 25px;
    padding-left: 10px;
  }
  a {
    font-size: 130%;
    font-weight: bold;
    margin-right: 40px;
  }
}

.control-bar-btn {
  font-size: 130%;
  font-weight: bold;
  text-align: center;
  @include breakpoint($screen-md) {
    display: block;
    font-size: 100%;
    margin: 0 auto 25px auto;
    width: 75px;
  }
  &:hover {
    text-decoration: none;
  }
  span {
    @include breakpoint($screen-md) {
      display: block;
      font-size: 38px;
    }
  }
}
