.control-bar {
  padding-top: 20px;
}

.nav-links {
  margin-bottom: 25px;
  padding-left: 10px;
  a {
    font-size: 130%;
    font-weight: bold;
  }
}

.control-bar-btn {
  display: block;
  font-weight: bold;
  margin: 0 auto 25px;
  text-align: center;
  width: 75px;
  &:hover {
    text-decoration: none;
  }
  span {
    display: block;
    font-size: 38px;
  }
}
