/* TODO: Convert sprite usage to use icon font. */

@import "../fonts/icomoon/icomoon";

.icon-link {
  &:hover {
    text-decoration: none;
  }
}

.share-resource-link,
.back-link {
  background-image: image-url('icon-sprite.png');
  display: block;
  height: 38px;
  margin: 0 auto;
  width: 38px;
}

.share-resource-link {
  background-position: -55px 0;
}

.back-link {
  background-position: -55px -40px;
}

.favorite-icon {
  background-image: image-url('icon-sprite.png');
  background-position: -2px -76px;
  display: block;
  height: 40px;
  width: 42px;
}

.up-vote-btn,
.down-vote-btn {
  background-image: image-url('icon-sprite.png');
  display: block;
  height: 33px;
  width: 50px;
}

.down-vote-btn {
  background-position: 0 96px;
  margin-top: 5px;
}
