.drop-region {
  border: 3px $brand-primary dashed;
  color: $brand-primary;
  font-weight: bold;
  height: 120px;
  margin: 0 auto 20px;
  text-align: center;
  width: 120px;
  span {
    display: block;
    font-size: 40px;
    margin: 10px auto 5px;
  }
}

