@import "compass/css3/transform";

.drop-region {
  border: 3px $brand-primary dashed;
  color: $brand-primary;
  font-weight: bold;
  margin: 0 auto 20px;
  max-width: 140px;
  text-align: center;
  width: 90%;
  &.hover {
    border-color: $link-hover-color;
    color: $link-hover-color;
  }
  span {
    display: block;
    font-size: 40px;
    margin: 10px auto 5px;
  }
}

.category-drop {
  display: none;
  @include breakpoint($screen-md) {
    @include translateZ(0);
    display: block;
  }
}
