html, body {
  height: 100%;
}

.main-header {
  background-color: $brand-primary;
  color: #fff;
  height: 35px;
  padding: 2px 25px 0;
  a {
    color: #fff;
  }
}

.logo {
  margin-top: -6px;
  margin-right: 5px;
}

.brand-heading {
  font-weight: bold;
  font-size: 150%;
}

.slogan {
  font-size: 112%;
  font-style: italic;
  line-height: 30px;
  margin: 0;
}

.auth-links {
  line-height: 28px;
}

.messages {
  .alert {
    margin-bottom: 0;
  }
}

.page-content {
  &> .row {
    margin: 0;
  }
}

.user-controls {
}

.content-main {
  background-color: #fff;
  overflow-y: visible;
  padding-top: 15px;
}
