
.main-header {
  background-color: $brand-primary;
  height: 35px;
  padding: 2px 25px 0;
}

.brand-heading {
  color: #fff;
  font-weight: bold;
  font-size: 150%;
}

.slogan {
  color: #fff;
  font-size: 112%;
  font-style: italic;
  line-height: 30px;
  margin: 0;
}

.user-controls {
}

.content-main {
  background-color: #fff;
}
