.resource-view {
  padding: 25px;
  padding-top: 0;
}

.resource-details {
  .favorite-icon {
    display: inline-block;
    float: none;
  }
  .resource-title {
    display: inline-block;
    margin-right: 50px;
  }
}

.resource-description {
  margin-top: 20px;
  margin-bottom: 25px;
}

.vote-controls {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 24px;
}

.rating {
  display: inline-block;
  font-size: 250%;
  font-weight: bold;
  line-height: 70px;
}

.comments-list {
  li {
    list-style: none;
  }
  h2 {
    margin-bottom: 15px;
  }
  ul {
    padding: 0;
  }
}
