.resource-view {
  padding: 25px;
}

.resource-path {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: -20px;
}

.resource-details {
  .resource-title {
    display: inline-block;
    margin-right: 50px;
    .icon-link {
      display: inline-block;
      font-size: 95%;
      float: none;
    }
  }
}

.resource-url {
  margin-top: 5px;
}

.resource-description {
  margin-top: 20px;
  margin-bottom: 25px;
}

.vote-controls {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 24px;
}

.up-vote-btn,
.down-vote-btn {
  display: block;
  font-size: 270%;
}

.rating {
  display: inline-block;
  font-size: 250%;
  font-weight: bold;
  line-height: 70px;
}

.comments-list {
  li {
    list-style: none;
  }
  h2 {
    margin-bottom: 15px;
  }
  ul {
    padding: 0;
  }
}
