.resource-teaser {
  border: 1px #000 solid;
  padding: 15px;
  margin-bottom: 15px;
}

.resource-title {
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
  .icon-link {
    float: right;
    font-size: 150%;
  }
}

.resource-url {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 15px;
}
