.resource-teaser {
  border: 1px #000 solid;
  padding: 15px;
  margin-bottom: 15px;
  position: relative;
  .rating {
    position: absolute;
    right: 20px;
    top: 35px;
    @include breakpoint($screen-md){
      right: 10%;
      top: -2px;
    }
  }
  .icon-link {
    float: right;
    font-size: 215%;
  }
}

.resource-title {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
  width: 85%;
}

.resource-url {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 15px;
}
