<div class="nav-links">
  <a href="#/feed">Feed</a>
  <a href="#/favorites">Favorites</a>
</div>

{{#if showShareLink}}
  <a href="/#/share-resource" class="control-bar-btn">
    <span class="icon-plus-circle"></span>
    Share a Resource
  </a>
{{/if}}

{{#if showBackLink}}
  <a href="/#/" class="control-bar-btn">
    <span class="icon-arrow-circle-left"></span>
    Go Back
  </a>
{{/if}}
